.headerMain {
    color: black;
    height: 75px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #28221E;
}

.nameText {
    font-weight: bold;
    color: #CECBC8;
}

.lazybackpackerNameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 295px;
}

.lazybackpackerNameContainer:hover {
    cursor: pointer;
}

.lazybackpackerText {
    padding-left: 25px;
    padding-right: 25px;
    color: #CECBC8;
}

.menuStyle {
    width: 350px
}

.lazybackpackerLinkButton {
    font-size: 12px;
    padding: 4px 8px;
}